#pragma once

#define WIFI_SSID     "your_wifi_name_here"
#define WIFI_PASSWORD "your_wifi_password_here"
#define BOT_TOKEN     "your_telegram_bot_token_here"
#define CHAT_ID       "your_telegram_chat_id_here"
